h1 {
    text-align: center;
    color: darkslategrey;
    font-weight: bold;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

h2 {
    color: darkslategrey;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    font-size: 40px;
}

img {
    height: 470px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    border-color: darkcyan;
    border-style: dotted;
    border-width: 8px;
}


.index-list {
    font-size: 25px;
    font-weight: bold;
    color: dodgerblue;
    /* Display makes it be all to one block, and margin 0 auto, allows to have em together*/
    display: table;
    margin: 0 auto;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ingredients {
    color: darkslateblue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(255, 212, 224);
    margin-left: 50px;
    margin-right: 350px;
    text-align: center;
}

#pizza {
    color: red;
}

#potato-cake {
    color: rgb(238, 255, 0);
    background-color: blueviolet;
}

#taco {
    color: sienna;
}

.background {
    background-color: rgb(255, 251, 230);
}

#img-taco {
    border-color: sienna;
}

#img-potato-cake {
    border-color: rgb(238, 255, 0);
}

#img-pizza {
    border-color: red;
}